---
import ArticleListItem from '../../../components/ArticleListItem.astro';
import SiteLayout from '../../../layouts/SiteLayout.astro';

import { getCollection } from 'astro:content';

const articles = (await getCollection('articlesZhTw'))
  .filter((article) => article.data.releaseDate <= new Date())
  .sort((a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf());
---

<SiteLayout title='文章列表'>
  <h2 class='text-2xl font-bold text-neutral-700 mb-4 dark:text-neutral-100'>文章列表</h2>
  <ul role='list' class='divide-y divide-default'>
    {articles.map((article) => <ArticleListItem article={article} />)}
  </ul>
</SiteLayout>
