---
import SiteLayout from '../../layouts/SiteLayout.astro';
---

<SiteLayout title='關於我'>
  <p class='my-4 text-lg text-body'>
    你好！我是 Samuel Wang，一位軟體工程師，熱衷於建構網頁應用並探索新技術。<br>
    我喜歡透過寫部落格分享我的知識與整理思緒。
  </p>
  <p class='my-4 text-lg text-body'>如果你想更了解我或聯絡我，歡迎隨時與我聯繫！</p>
  <p class='my-4 text-lg text-body'>
    你可以在
    <a href='https://github.com/samuelwang' target='_blank' class='text-primary underline'>GitHub</a> 和
    <a href='https://www.linkedin.com/in/samuelwang919/' target='_blank' class='text-primary underline'>LinkedIn</a> 找到我。
  </p>
</SiteLayout>
