@import 'tailwindcss';

@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Roboto', 'sans-serif';
}

.article-content {
  h1 {
    @apply text-4xl font-bold text-heading mt-6 mb-4;
  }

  h2 {
    @apply text-4xl font-bold text-neutral-700 mt-6 mb-4;
  }

  h3 {
    @apply text-3xl font-bold text-neutral-500 mt-5 mb-4;
  }

  h4 {
    @apply text-2xl font-bold text-neutral-400 mt-5 mb-3;
  }

  h5 {
    @apply text-xl font-bold text-neutral-400 mt-5 mb-3;
  }

  h6 {
    @apply text-lg font-bold text-neutral-400 mt-5 mb-3;
  }

  p {
    @apply mb-3 text-body;

    code {
      @apply px-2 py-1 font-mono text-sm font-semibold text-gray-900 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-white;
    }
  }

  a {
    @apply font-medium text-fg-brand hover:underline;
  }

  em {
    @apply italic;
  }

  strong {
    @apply font-bold;
  }

  ul, ol {
    @apply my-4 space-y-1 text-body list-inside lg:my-5;

    ul, ol {
      @apply ps-5 mt-2 space-y-1 list-inside;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  blockquote {
    @apply p-4 my-4 border-s-4 border-default bg-neutral-secondary-soft;

    p {
      @apply italic font-medium leading-relaxed text-heading;
    }
  }

  hr {
    @apply h-px my-8 bg-neutral-quaternary border-0;
  }

  hr.hr-1 {
    @apply h-1 mx-auto my-4 bg-neutral-quaternary border-0 rounded-sm md:my-6;
  }

  img {
    @apply h-auto max-w-full mx-auto my-4 rounded-base md:max-w-xl lg:max-w-2xl lg:my-5 xl:max-w-3xl;
  }

  pre {
    @apply p-2 my-4 lg:my-5;
  }

  iframe[data-video='youtube'] {
    @apply w-10/12 h-auto aspect-video mx-auto my-4 lg:my-5 lg:w-2/3;
  }
}
