---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
  <h2 class='text-4xl font-bold'>500 — Server Error</h2>
  <p class='my-4 text-lg text-body'>Sorry, something went wrong on our end.</p>
  <p class='my-4 text-lg text-body'>伺服器發生錯誤，請稍後再試。</p>
  <a href='/' class='font-medium text-fg-brand hover:underline'>Return home</a>
</SiteLayout>
