---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
  <h2 class='text-4xl font-bold'>Who Am I?</h2>
  <p class='my-4 text-lg text-body'>
    Hello! I'm Samuel Wang, a software engineer with a passion for building web applications and exploring new
    technologies. I enjoy sharing my knowledge and thinking through blogging.
  </p>
  <p class='my-4 text-lg text-body'>If you'd like to learn more about me or get in touch, feel free to reach out!</p>
  <p class='my-4 text-lg text-body'>
    You can find me on
    <a href='https://github.com/samuelwang' target='_blank' class='text-primary underline'>GitHub</a> and
    <a href='https://www.linkedin.com/in/samuelwang919/' target='_blank' class='text-primary underline'>LinkedIn</a>.
  </p>
</SiteLayout>
