---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <title>Samuel Wang</title>
  </head>
  <body class='bg-neutral-primary'>
    <Header />
    <main class='flex flex-col justify-between min-h-screen pt-22'>
      <!-- Content -->
      <div class='w-full mx-auto p-4 md:max-w-xl lg:max-w-2xl xl:max-w-3xl 2xl:max-w-4xl'>
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>

<script is:inline src='https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js'></script>
